@model AfspraakViewModel
@{
    ViewData["Title"] = "Afspraak";
}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <img src="https://i.gyazo.com/fcaca9babe2aac42ceb33ce00b9cd11d.png">
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-1"></div>
        <form asp-controller="Afspraak" asp-action="gegevens" class="nexa_bold">
            <div class="col-md-10">
                <div class="col-md-7" style="height: 510px; background-color:white; box-shadow: 0px 0px 10px #888888; padding-left: 0px;">
                    <div class="col-md-3" style="padding-left: 0px;">
                        <img src="https://i.gyazo.com/2c1dd6357be62e5860f3b7107b63f812.png">
                    </div>
                    <div class="col-md-9" style="height:510px;">
                        <div class="nexa_bold" style="font-size:25px; margin-top: 40px; margin-bottom:15px;">
                            Stap 1, Datum en tijd selecteren
                        </div>
                        <div>
                            Selecteer eerste een datum en vervolgens een tijdstip dat je wilt komen passen!<br><br>Openingstijden:
                        </div>

                        <div>
                            <div class="col-md-2" style="padding-left:0px;">
                                <b>
                                    MA<br>
                                    DI-VR<br>
                                    ZA<br>
                                    ZO<br>
                                </b>
                            </div>
                            <div class="col-md-10">
                                <b>
                                    12:00-17:30<br>
                                    09:30-17:30<br>
                                    09:30-18:00<br>
                                    11:00-17:00<br>
                                </b>
                            </div>
                        </div>
                        <input type="submit" value="NAAR STAP 2" class="btn btn-default specialbutton" style="" />

                    </div>
                </div>
                <div class="col-md-5" style="background-color:#f0597c; color: white; height:510px;">
                    <div style="margin-left:25px;" class="nexa_bold">
                        <div class="nexa_bold" style="font-size:25px; margin-top: 40px;">
                            Kies je tijd en datum:
                        </div>
                  
                        <div class="editor-label">
                            @Html.LabelFor(model => model.datum)
                        </div>
                        <div class="editor-field datepicker">
                            @Html.HiddenFor(model => model.datum)
                        </div>

                        <div class="form-group">
                            <label asp-for="tijd"></label><br />
                            <input asp-for="tijd" type="radio" value="9.30"> 9:30<br>
                            <input asp-for="tijd" type="radio" value="12.30"> 12:30<br>
                            <input asp-for="tijd" type="radio" value="15.30"> 15:30<br />

                            @*<input asp-for="tijd" class="form-control" />*@
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top: 150px;">
        <div class="col-md-12" style="padding-left:0px;">
            <img src="https://i.gyazo.com/71eedcfffbc8dbd970f1e595f0586ac2.jpg" alt="Foto van stel" />
        </div>
    </div>
</div>