@font-face {
    font-family: 'nexa_boldregular';
    src: url('Nexa_Free_Bold-webfont.eot');
    src: url('Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Nexa_Free_Bold-webfont.woff2') format('woff2'), url('Nexa_Free_Bold-webfont.woff') format('woff'), url('Nexa_Free_Bold-webfont.ttf') format('truetype'), url('Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nexa_bold {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: nexa_boldregular;
}

.sans-serif-thin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.backgroundcolor {
    background-color: white;
}

.navbarbackground {
    background-color: white;
}

h5 {
    font-family: sans-serif;
    font-size: 18px;
}

.col-md-12-1 {
    height: 450px;
    background-image: url(http://esq.h-cdn.co/assets/15/50/1600x800/landscape-1449613000-groom.jpg);
    text-align: center;
    background-size: 100% 100%;
}

.col-md-12-2 {
    height: 200px;
    width: 100%;
    background-image: url(/images/collection.png);
    background-size: 100% 100%;
    background-position: center;
    background-size: 850px;
}

.col-md-12-3 {
    height: 200px;
    width: 100%;
    background-image: url(/images/suits.png);
    background-size: 100% 100%;
    background-position: center;
    background-size: 850px;
}

.text1 {
    font-family: 'Josefin Sans', sans-serif;
    position: center;
    font-size: 30px;
}

.text2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
}

.text3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 270px;
}

.text4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 270px;
}

.pic-row {
    width: 100%;
    margin: 20px auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /*overflow:hidden;*/
}


.dress-pics {
    margin-right: 25px;
    width: 300px;
    height: 600px;
}

.DSbtn {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 0;
    display: block;
    margin: auto;
    border-style: none;
    margin-bottom: 30px;
}

.downarrow {
    text-align: center;
    margin-bottom: 50px;
}

.arrowright {
    color: royalblue;
    text-align: center;
}

.arrow-right-text {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

row-suits {
    display: flex;
    width: 100%;
}

.video2 {
    background-image: url(/images/34ff6a788ac762f5ed74127b8c73de08.jpg);
    width: 63%;
    height: 480px;
    display: flex;
}

.video1 {
    width: 33%;
    position: center;
    font-size: 25px;
}


/*catalogus styles*/
.cat-col-md-12-1 {
    height: 600px;
    width: 1400px;
    background-image: url(https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg);
    text-align: center;
    background-size: 100% 100%;
}

.dressfinder-pics {
    margin: 10px;
    height: 400px;
    width: 290px;
}

.dressfinderdouble-pic {
    margin-right: 45px;
}

.cat-line {
    height: 10px;
    border-bottom: 3px solid black;
    width: 84%;
    margin-left: 35px;
}

.cat-textinline {
}

.cat {
    display: flex;
    flex-wrap: wrap;
}

.cat-textdescimage {
    margin-top: 10px;
    margin-left: 10px;
}

.det-sideimg {
    margin-top:15px;
        width: 240px;
    height: 240px;
}

.det-desclist {
    margin-top: 10px;
}

.det-large-pic{
    margin: 20px;
}

.det-suggestedjels{
    margin-right: 8px; 
    
}
.sidetext > div > button {
    margin-top: 20px;
    border: 5px solid #f0597c;
    border-radius: 0;
    background-color: #f0597c;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
}
.specialbutton {
    margin-top: 20px;
    border: 5px solid #f0597c;
    border-radius: 0;
    background-color: #f0597c;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
}

.cat-background {
    background-color: white;
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

.cat-searchbarright {
    margin-left: 170px;
    max-width: 500px;
    margin-bottom: 30px;
}

.form-control {
    max-width: 220px;
}
.det-desclist-special{
    color: #f7bfc8;
}



/*-FooterStyles-*/
.footer {
    background-color: #fce8e7;
    padding-bottom: 50px;
}

/*-- Top row--*/
.footerimages {
    padding-top: 80px;
    margin-bottom: 50px;
}

.footerleft {
    padding-left: 10%;
}

.footerright {
    padding-right: 10%;
}

.footerlefttext {
    margin-left: 35%;
}

.footerrighttext {
    margin-right: 35%;
}


/*-- Midden row--*/
.midrow {
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px;
}

.midcol {
    display: flex;
    opacity: 0.05;
    width: 260px;
    height: 90px;
    padding-right: 20px;
    margin-bottom: 60px;
}


/*-- Bottom row--*/
.style_p_h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    color: deeppink;
    display: inline-grid;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
}

a {
    color: black;
}

    a:hover, a:active {
        text-decoration: none;
        color: black;
    }

    /*-- Filter selectie--*/
.col-md-3Filter {
	max-width:25%;
	padding-left:120px;
    padding-right:40px;
}

.col-3 {
    flex:auto;
	max-width: 500px;
    max-height: 100px;
    overflow: auto;
    
}

.Link {
	flex:auto;
    background: #F8E0E0;
	max-width: 25%;
    padding-left:10px;

    
}
.title {
	margin: 1px;
    
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; 
    content: "\e253";    
    color: #FCCAC6;   
    float: right;            
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e252";   
}
.panel-default {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-color:#A9BCF5; 
    margin-top: 0px;
}

.panel-default > .panel-heading {
    border-bottom-width: 1px;
    border-color:#A9BCF5;
    border-bottom-style: solid;
    background-color: #F6F6F6;
}
.titleFilter {
    font-size: 17px;
    margin-bottom: 5px;

}
.panel-heading {
    padding: 5px 15px;
}


#slider12c .slider-selection {
	background: pink;
}

#slider12c .slider-handle {
    background: white;
    border:1px solid pink;
}


#slider12c .tooltip-inner {
    background-color: transparent;
    color: black;
}

#slider12c .tooltip.top {
    background: transparent;
}

#slider12c .tooltip.bottom .tooltip-arrow {
    border: 0px solid;
}

#slider12c ..slider.slider-horizontal .slider-handle.triangle {
    background: transparent;
    background-color: transparent;
}

#slider12c .slider-horizontal.slidertrack {
    height:5px;
    margin-top: 5px;
}
/**
 * Start by hiding the checkboxes
 */
.input[type=checkbox] {
	visibility: hidden;
}
/**
     * Checkbox Four
     */
    .checkboxFour {
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid pink;
    border-radius: 100%;
    position: relative;
    top: 2px;
    }

    /**
     * Create the checkbox button
     */
    .checkboxFour label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
    background: white;
    
    }

    /**
     * Create the checked state
     */
    .checkboxFour input[type=checkbox]:checked + label {
    background: #F8E0E0;
    }

    .checkboxColor {
        width: 15px;
        height: 15px;
        border: 1px solid #A9BCF5;
        
        border-radius: 50%;
        position: relative;
    }

    .labelCheckbox {
        float: right;
    }