@font-face {
    font-family: 'nexa_boldregular';
    src: url('Nexa_Free_Bold-webfont.eot');
    src: url('Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Nexa_Free_Bold-webfont.woff2') format('woff2'), url('Nexa_Free_Bold-webfont.woff') format('woff'), url('Nexa_Free_Bold-webfont.ttf') format('truetype'), url('Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nexa_bold {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: nexa_boldregular;
}

.arial-bold {
    font-family: Arial;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
}

.sans-serif-thin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.backgroundcolor {
    background-color: white;
}

.navbarbackground {
    background-color: white;
}

h5 {
    font-family: sans-serif;
    font-size: 18px;
}

.quicklinks-box {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    width: 200px;
    background-color: #fce8e7;
    margin-bottom: 4px;
}
/*De winkel Styles*/
.DWtop {
    height: 500px;
    background-image: url(/images/winkelbg.png);
    background-position: center;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DWtext1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    position: absolute;
}

.DWtext2 {
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    position: absolute;
}
/*mobiel*/
@media only screen and (min-device-width: 320px) {
}
/*tablets*/
@media only screen and (min-device-width : 768px) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .DWtext1 {
        left: 250px;
        top: 250px;
    }

    .DWtext2 {
        top: 270px;
        left: 120px;
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .DWtext1 {
        top: 250px;
        left: 370px;
    }

    .DWtext2 {
        top: 270px;
        left: 240px;
    }
}

.Adver {
    /*display: flex;*/
    flex-flow: column wrap;
    height: 800px;
    margin-bottom: 50px;
}

    .Adver > :nth-child(3n + 1) {
        order: 1;
    }
    /* 1st column */
    .Adver > :nth-child(3n + 2) {
        order: 2;
    }
    /* 2nd column */
    .Adver > :nth-child(3n + 3) {
        order: 3;
    }
    /* 3rd column */
    .Adver > :nth-child(-n + 3) {
        page-break-before: always; /* CSS 2.1 syntax */
        break-before: always; /* New syntax */
    }

.Advbox1-2 {
    
    background-image: url(~/images/ad.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
     
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    height: 246px;
    width:317px;
    margin-left: 50px;
    margin-top: 70px;
}

.Advbox1-1 {
    padding: 0px;
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    font-size: 20px;
    color: black;
    height: 280px;
    margin-left: 50px;
    margin-top: 70px;
}

.Advhead {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Advtxt {
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 14px;
}

.Advfoot {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 230px;
}

.Advbox {
    background-color: #DF4580;
    text-transform: uppercase;
    font-weight: bolder;
    height: 220px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 30px;
    margin-left: 50px;
    margin-top: 70px;
}

/*Home Styles*/
.Ctop {
    height: 800px;
    background-image: url(/images/Background.png);
    background-position: center;
    text-align: center;
    background-size: 100% 100%;
}

.Ctext1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    position: absolute;
}

.Ctext2 {
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    position: absolute;
}

.buttwrapper {
    display: inline-block;
    position: absolute;
}

.Bruidbtn {
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    border-radius: 0;
    margin: auto;
    border-style: none;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: #f730ff;
    border-color: #f730ff;
    border-style: solid;
    border-width: thick;
}

    .Bruidbtn:hover, .Bruidbtn:active, .Bruidbtn:link {
        background-color: #f730ff;
        border-color: #f730ff;
    }

.Bruidegombtn {
    width: 200px;
    height: 60px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    border-radius: 0;
    margin: auto;
    border-color: white;
    border-style: solid;
    border-width: thick;
    margin-top: 70px;
    margin-bottom: 20px;
}

    .Bruidegombtn:hover, .Bruidegombtn:active, .Bruidegombtn:link {
        background-color: transparent;
        border-color: white;
        color: white;
    }
/*mobiel*/
@media only screen and (min-device-width: 320px) {
}
/*tablets*/
@media only screen and (min-device-width : 768px) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .Ctext1 {
        left: 160px;
        top: 390px;
    }

    .Ctext2 {
        top: 420px;
        left: 320px;
    }

    .buttwrapper {
        top: 620px;
        left: 480px;
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .Ctext1 {
        top: 390px;
        left: 280px;
    }

    .Ctext2 {
        top: 420px;
        left: 450px;
    }

    .buttwrapper {
        top: 600px;
        left: 750px;
    }
}

.Cdownarrow {
    text-align: center;
    margin-bottom: 50px;
}

/*Bruid Styles */
.Btop {
    height: 450px;
    background-image: url(/images/bruid1.png);
    background-position: center;
    text-align: center;
    background-size: 100% 100%;
}

.Btext1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 240px;
}

.Btext2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 270px;
}

.Bcollectie {
    height: 200px;
    width: 100%;
    background-image: url(/images/collectie1.png);
    background-position: center;
    /*background-size: 850px;*/
    background-size: 75%;
    background-repeat: no-repeat;
}

.Bcollectie-text {
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    /*vertical-align: middle;*/
    letter-spacing: -1px;
    top: 100px;
}
/*mobiel*/
@media only screen and (min-device-width: 320px) {
    .Bcollectie-text {
        font-size: 15px;
    }
}
/*tablets*/
@media only screen and (min-device-width : 768px) {
    .Bcollectie-text {
        left: 170px;
        font-size: 20px;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .Bcollectie-text {
        left: 220px;
        font-size: 35px;
    }

    .Btext1 {
        left: 400px;
    }

    .Btext2 {
        left: 200px;
    }

    .Bsuits-text {
        left: 360px;
    }

    .Btextbox {
        left: 320px;
    }

    .Btext-blog {
        left: 300px;
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .Bcollectie-text {
        left: 250px;
        font-size: 35px;
    }

    .Btext1 {
        left: 500px;
    }

    .Btext2 {
        left: 300px;
    }

    .Bsuits-text {
        left: 350px;
    }

    .Btextbox {
        left: 420px;
    }

    .Btext-blog {
        left: 400px;
    }
}

.Bsuits {
    height: 200px;
    width: 100%;
    background-image: url(/images/theDress.png);
    background-size: 75%;
    background-position: center;
    /*background-size: 850px;*/
    background-repeat: no-repeat;
}

.Hsuits {
    height: 200px;
    width: 100%;
    background-image: url(/images/osh.png);
    background-size: 75%;
    background-position: center;
    /*background-size: 850px;*/
    background-repeat: no-repeat;
}

.Bsuits-text {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
}

.Btext4 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 270px;
}

.Bpic-row {
    width: 100%;
    margin: 20px auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /*overflow:hidden;*/
}

.Bdress-pics {
    margin-right: 25px;
    width: 300px;
    height: 600px;
}

.BDSbtn {
    background-color: #f730ff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 0;
    display: block;
    margin: auto;
    border-style: none;
    margin-bottom: 30px;
    width: 300px;
    color: white;
}

    .BDSbtn:hover, .BDSbtn:active, .BDSbtn:link {
        background-color: #f730ff;
    }

.Bdownarrow {
    text-align: center;
    margin-bottom: 50px;
}

.Barrowright {
    color: #f730ff;
    left: 300px;
    position: absolute;
    top: 235px;
}

.Barrow-right-text {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    left: 320px;
    position: absolute;
    top: 230px;
}

.Bsuits {
    display: flex;
    width: 100%;
}

.Bvideo2 {
    background-image: url(http://stylishbride.files.wordpress.com/2011/03/jt_shouston11.jpg);
    background-repeat: no-repeat;
    width: 65%;
    height: 480px;
    display: flex;
}

.Bvideo1 {
    width: 35%;
    position: center;
    font-size: 25px;
}

.Bol > li {
    counter-increment: item;
    list-style: none inside;
    margin: 30px 0;
    overflow: hidden;
    line-height: 1.3;
}

    .Bol > li:before {
        content: counter(item);
        margin-right: 15px;
        padding: 2px;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        background-color: #f730ff;
        color: white;
        text-align: center;
        float: left;
    }

.Btextnr {
    text-align: center;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    background-color: #f730ff;
    color: white;
    left: 110px;
    position: absolute;
    top: 420px;
    font-size: 70px;
}

.Btextbox {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    color: black;
    left: 320px;
    position: absolute;
    top: 300px;
    width: 320px;
    height: 250px;
    font-size: 20px;
    padding: 20px;
    padding-right: 30px;
}

.Bdownarrow2 {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.Bblog {
    height: 200px;
    width: 100%;
    background-image: url(/images/blog1.png);
    background-position: center;
    /*background-size: 850px;*/
    background-size: 75%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.Btext-blog {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    left: 300px;
    letter-spacing: -1px;
    top: 100px;
}

.Br-events {
    display: flex;
    width: 100%;
}

.Bevnt {
    height: 420px;
    width: 585px;
    position: relative;
    width: 100%;
    padding: 0px;
}

hr {
    height: 4px;
}

.Bdatebox {
    background-color: #f730ff;
    height: 55px;
    width: 45px;
    color: white;
    position: absolute;
    top: 0px;
    right: 30px;
    text-align: center;
    font-size: 18px;
}

.Btxtbxhead {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Btxtbxbody {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 80px;
}

.Btxtbxfoot {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 180px;
}

.Btxtbx {
    background-color: white;
    position: absolute;
    top: 220px;
    left: 0;
    width: 50%;
    height: 200px;
}

.Bevnt2 {
    padding: 0px;
    height: 420px;
    width: 585px;
    position: relative;
    width: 100%;
}

.row1 {
    display: flex;
    flex-flow: column wrap;
}

    .row1 > :nth-child(3n + 1) {
        order: 1;
    }
    /* 1st column */
    .row1 > :nth-child(3n + 2) {
        order: 2;
    }
    /* 2nd column */
    .row1 > :nth-child(3n + 3) {
        order: 3;
    }
    /* 3rd column */
    .row1 > :nth-child(-n + 3) {
        page-break-before: always; /* CSS 2.1 syntax */
        break-before: always; /* New syntax */
    }

.Btextbox1-1 {
    padding: 0px;
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    height: 500px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox1-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox1-3 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox2-1 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox2-vac {
    background-image: url(/images/vac.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    height: 500px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox2-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox1-2-nieuws {
    background-color: #B3D5FC;
    text-transform: uppercase;
    font-weight: bolder;
    height: 170px;
    font-size: 25px;
    text-align: center;
    padding: 45px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox1-2-sol {
    background-color: #DF4580;
    text-transform: uppercase;
    font-weight: bolder;
    height: 200px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 30px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox2-3 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox3-1 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox3-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.Btextbox3-3 {
    background-color: white;
    border: hidden;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    box-shadow: 0px 1px 10px gainsboro;
    color: black;
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.BMBbtn {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    border-radius: 0;
    display: block;
    margin: auto;
    border-style: none;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: #f730ff;
}

    .BMBbtn:hover, .BMBbtn:active, .BMBbtn:link {
        background-color: #f730ff;
    }

.Bhead {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.Btxt {
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 14px;
}

.Bbgrnd {
    background-image: url(http://www.honeymoonshop.nl/uploads/cache/img-8050-1.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bbgrnd1 {
    background-image: url(http://www.honeymoonshop.nl/uploads/cache/image-20.jpeg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bbgrnd2 {
    background-image: url(http://www.honeymoonshop.nl/uploads/cache/17111-66-4.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bbgrnd4 {
    background-image: url(http://wac.450f.edgecastcdn.net/80450F/thefw.com/files/2012/05/bride-wars-vera-wang-wedding-dress-kate-hudson.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bbgrnd3 {
    background-image: url(http://www.wedding3.com/wp-content/uploads/2016/11/impressive-bridal-magazines-trendy-bride-wedding-magazine-cover-2014-2016.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bbgrnd5 {
    background-image: url(http://www.demilked.com/magazine/wp-content/uploads/2016/09/hijab-bride-muslim-wedding-dress-1.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.Bdownarrow3 {
    text-align: center;
    margin-bottom: 50px;
}

.Bbottom-pic {
    height: 450px;
    background-image: url(http://giordanosweddings.com/wp-content/uploads/2016/07/average_wedding_cost.jpg);
    background-image: url(http://d1y45yrzkfyqcf.cloudfront.net/uploads/posts/1009/large_Trouwjurk_Passen.jpg);
    /*background-image:url(http://d1y45yrzkfyqcf.cloudfront.net/uploads/posts/1066/large_Korte_Trouwjurk.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.HBbottom-pic {
    height: 450px;
    background-image: url(http://giordanosweddings.com/wp-content/uploads/2016/07/average_wedding_cost.jpg);
    /*background-image:url(http://d1y45yrzkfyqcf.cloudfront.net/uploads/posts/1066/large_Korte_Trouwjurk.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/*--Bruidegom Styles*/
.top {
    height: 500px;
    /*background-image: url(http://www.joan.nl/wp-content/uploads/2014/12/bruidsmode-joan_top-02.jpg);*/
    background-image: url(/images/bruidegom.png);
    background-position: center;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 240px;
}

.text2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 270px;
}

.collectie {
    height: 200px;
    width: 100%;
    background-image: url(/images/collection.png);
    background-position: center;
    /*background-size: 850px;*/
    background-size: 75%;
    background-repeat: no-repeat;
}

.collectie-text {
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    /*vertical-align: middle;*/
    letter-spacing: -1px;
    top: 100px;
}
/*mobiel*/
@media only screen and (min-device-width: 320px) {
    .collectie-text {
        font-size: 15px;
    }
}
/*tablets*/
@media only screen and (min-device-width : 768px) {
    .collectie-text {
        left: 170px;
        font-size: 20px;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .collectie-text {
        left: 270px;
        font-size: 35px;
    }

    .text1 {
        left: 400px;
    }

    .text2 {
        left: 200px;
    }

    .suits-text {
        left: 360px;
    }

    .textbox {
        left: 320px;
    }

    .text-blog {
        left: 300px;
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .collectie-text {
        left: 370px;
        font-size: 35px;
    }

    .text1 {
        left: 500px;
    }

    .text2 {
        left: 300px;
    }

    .suits-text {
        left: 460px;
    }

    .textbox {
        left: 420px;
    }

    .text-blog {
        left: 400px;
    }
}

.suits {
    height: 200px;
    width: 100%;
    background-image: url(/images/suits.png);
    background-size: 75%;
    background-position: center;
    /*background-size: 850px;*/
    background-repeat: no-repeat;
}

.suits-text {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
}

.text4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 270px;
}

.pic-row {
    width: 100%;
    margin: 20px auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /*overflow:hidden;*/
}

.dress-pics {
    margin-right: 25px;
    width: 300px;
    height: 600px;
}

.DSbtn {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 0;
    display: block;
    margin: auto;
    border-style: none;
    margin-bottom: 30px;
    width: 300px;
}

.downarrow {
    text-align: center;
    margin-bottom: 50px;
}

.arrowright {
    color: royalblue;
    left: 300px;
    position: absolute;
    top: 235px;
}

.bv {
    left: 300px;
    position: absolute;
    top: 235px;
}

.arrow-right-text {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    left: 320px;
    position: absolute;
    top: 230px;
}

row-suits {
    display: flex;
    width: 100%;
}

.video2 {
    /*background-image: url(/images/34ff6a788ac762f5ed74127b8c73de08.jpg);*/
    background-image: url(http://www.canali.com/media/wysiwyg/The-Edition/News/Openings/Canali-Atlanta-Store-Window-3.jpg);
    background-repeat: no-repeat;
    width: 65%;
    height: 480px;
    display: flex;
}

.video1 {
    width: 35%;
    position: center;
    font-size: 25px;
}

ol > li {
    counter-increment: item;
    list-style: none inside;
    margin: 30px 0;
    overflow: hidden;
    line-height: 1.3;
}

    ol > li:before {
        content: counter(item);
        margin-right: 15px;
        padding: 2px;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        background-color: royalblue;
        color: white;
        text-align: center;
        float: left;
    }

.textnr {
    text-align: center;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    background-color: royalblue;
    color: white;
    left: 110px;
    position: absolute;
    top: 420px;
    font-size: 70px;
}

.textbox {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    color: black;
    position: absolute;
    top: 300px;
    width: 320px;
    height: 250px;
    font-size: 20px;
    padding: 20px;
    padding-right: 30px;
}

.downarrow2 {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.blog {
    height: 200px;
    width: 100%;
    background-image: url(/images/blog.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.text-blog {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: -1px;
    top: 100px;
}

.r-events {
    display: flex;
    width: 100%;
}

.evnt {
    height: 420px;
    /*width:585px;*/
    position: relative;
    width: 100%;
    padding: 0px;
}

hr {
    height: 4px;
}

.datebox {
    background-color: royalblue;
    height: 55px;
    width: 45px;
    color: white;
    position: absolute;
    top: 0px;
    right: 30px;
    text-align: center;
    font-size: 18px;
}

.txtbxhead {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.txtbxbody {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 80px;
}

.txtbxfoot {
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 180px;
}

.txtbx {
    background-color: white;
    position: absolute;
    top: 220px;
    left: 0;
    width: 50%;
    height: 200px;
}

.txtbx {
    background-color: white;
    position: absolute;
    top: 220px;
    left: 0;
    width: 50%;
    height: 200px;
}

.evnt2 {
    padding: 0px;
    height: 420px;
    /*width: 585px;*/
    position: relative;
    width: 100%;
}

.textbox1-1 {
    padding: 0px;
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox1-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox1-3 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox2-1 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox2-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox2-3 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 320px;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox3-1 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 25%;*/
    height: 500px;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox3-2 {
    background-color: white;
    border: hidden;
    box-shadow: 0px 1px 10px gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    color: black;
    /*width: 25%;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.textbox3-3 {
    background-color: white;
    border: hidden;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 0px;
    box-shadow: 0px 1px 10px gainsboro;
    color: black;
    /*width: 25%;*/
    height: 500px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}

.MBbtn {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    border-radius: 0;
    display: block;
    margin: auto;
    border-style: none;
    margin-top: 70px;
    margin-bottom: 20px;
}

.head {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.txt {
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 14px;
}

.bgrnd {
    background-image: url(http://www.honeymoonshop.nl/uploads/cache/img-8050-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.bgrnd1 {
    background-image: url(http://www.krystlebrides.co.uk/media/wysiwyg/real-bride-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.bgrnd2 {
    background-image: url(http://www.honeymoonshop.nl/uploads/cache/17111-66-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 327px;
    width: 100%;
}

.downarrow3 {
    text-align: center;
    margin-bottom: 50px;
}

.bottom-pic {
    height: 450px;
    background-image: url(http://esq.h-cdn.co/assets/15/50/1600x800/landscape-1449613000-groom.jpg);
    background-position: center;
    width: 100%;
}
/*catalogus styles*/
.cat-col-md-12-1 {
    height: 600px;
    width: 1400px;
    background-image: url(https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg);
    text-align: center;
    background-size: 100% 100%;
}

.dressfinder-pics {
    margin: 10px;
    height: 400px;
    width: 290px;
}

.dressfinderdouble-pic {
    margin-right: 45px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
}

.cat-textdescimage {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.det-sideimg {
    margin-top: 15px;
    width: 240px;
    height: 240px;
}

.det-desclist {
    margin-top: 10px;
}

.det-large-pic {
    margin: 20px;
}

.det-suggestedjels {
    margin-right: 8px;
}

.sidetext > div > button {
    margin-top: 20px;
    border: 5px solid #f0597c;
    border-radius: 0;
    background-color: #f0597c;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
}

.specialbutton, .specialbutton:hover, .specialbutton:active, .specialbutton:focus {
    margin-top: 20px;
    border: 5px solid #f0597c;
    border-radius: 0;
    background-color: #f0597c;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    display: block;
}

.cat-background {
    background-color: white;
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

.cat-searchbarright {
    margin-left: 170px;
    max-width: 500px;
    margin-bottom: 30px;
}

.form-control {
    max-width: 220px;
}

.det-desclist-special {
    color: #f7bfc8;
}



/*-FooterStyles-*/
.footer {
    background-color: #fce8e7;
    padding-bottom: 50px;
}

/*-- Top row--*/
.footerimages {
    padding-top: 80px;
    margin-bottom: 50px;
}

.footerleft {
    padding-left: 10%;
}

.footerright {
    padding-right: 10%;
}

.footerlefttext {
    margin-left: 35%;
}

.footerrighttext {
    margin-right: 35%;
}


/*-- Midden row--*/
.midrow {
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px;
}

.midcol {
    display: flex;
    opacity: 0.05;
    width: 260px;
    height: 90px;
    padding-right: 20px;
    margin-bottom: 60px;
}


/*-- Bottom row--*/
.style_p_h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    color: deeppink;
    display: inline-grid;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
}

a {
    color: black;
}

    a:hover, a:active {
        text-decoration: none;
        color: black;
    }

/*-- Filter selectie--*/
.col-md-3Filter {
    max-width: 25%;
    padding-left: 120px;
    padding-right: 40px;
}

.col-3 {
    flex: auto;
    max-width: 500px;
    max-height: 100px;
    overflow: auto;
}

.title {
    margin: 1px;
}

.chkbox {
    padding-left: 20px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e253";
    color: #FCCAC6;
    float: right;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e252";
}

.panel-default {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-color: #A9BCF5;
    margin-top: 0px;
}

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
    }

    .panel-default > .panel-heading {
        border-bottom-width: 1px;
        border-color: #A9BCF5;
        border-bottom-style: solid;
        background-color: #F6F6F6;
    }

.titleFilter {
    font-size: 17px;
    margin-bottom: 5px;
}

.panel-heading {
    padding: 5px 15px;
}


#slider12c .slider-selection {
    background: pink;
}

#slider12c .slider-handle {
    background: white;
    border: 1px solid pink;
}


#slider12c .tooltip-inner {
    background-color: transparent;
    color: black;
}

#slider12c .tooltip.top {
    background: transparent;
}

#slider12c .tooltip.bottom .tooltip-arrow {
    border: 0px solid;
}

#slider12c ..slider.slider-horizontal .slider-handle.triangle {
    background: transparent;
    background-color: transparent;
}

#slider12c .slider-horizontal.slidertrack {
    height: 5px;
    margin-top: 5px;
}
/**
 * Start by hiding the checkboxes
 */
.input[type=checkbox] {
    visibility: hidden;
}
/**
    * Checkbox Four
    */
.checkboxFour {
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid pink;
    border-radius: 100%;
    position: relative;
    top: 2px;
}

    /**
    * Create the checkbox button
    */
    .checkboxFour label {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 0;
        background: white;
    }

    /**
    * Create the checked state
    */
    .checkboxFour input[type=checkbox]:checked + label {
        background: #F8E0E0;
    }

.checkboxColor {
    width: 15px;
    height: 15px;
    border: 1px solid #A9BCF5;
    border-radius: 50%;
    position: relative;
}

.textCheckbox {
    margin-left: 15px;
}

.checkbox1 {
    display: none;
}
