@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-horizontal">
    <h1>Welkom Administrator</h1>
    <h2>DressFinder managen:</h2>
    <ul>
        <li><a asp-controller="Jurken" asp-action="Index">Jurken</a></li>
        <li><a asp-controller="Categorien" asp-action="Index">Categorien</a></li>
        <li><a asp-controller="Kleuren" asp-action="Index">Kleuren</a></li>
        <li><a asp-controller="Merken" asp-action="Index">Merken</a></li>
        <li><a asp-controller="Neklijnen" asp-action="Index">Neklijnen</a></li>
        <li><a asp-controller="Silhouetten" asp-action="Index">Silhouetten</a></li>
        <li><a asp-controller="Stijlen" asp-action="Index">Stijlen</a></li>   
    </ul>
</div>
