@{
    ViewData["Title"] = "De Winkel Page";
}
<style type="text/css">
    .navbarbackground {
        background-color: transparent;
    }

    header {
        background-image: url(/images/winkelbg.png);
        height: 550px;
        background-position: center;
        text-align: center;
        background-size: 100% 100%;
    }

    .navbar-pink > li > a {
        color: white;
    }
</style>

<div class="container bodycontainers">

    <!--advertentie sectie-->
    <div class="row">
        <div class="col-md-12 Adver">

            <div class="col-md-3 Advbox1-1">
                <div class="Advhead"><h4><b>Veelgestelde vragen</b></h4><hr align="left" width="50%" style="background-color:lightpink"></div>
                <div class="Advtxt">Niet gevonden wat je zocht? <br />Kijk in de veelgestelde vragen!</div>
                <a href="#"><img class="Advfoot" src="~/images/veelgestelde.png" /></a>
            </div>

            <div class="col-md-3 Advbox1-1">
                <div class="Advhead"><h4><b>Openingstijden</b></h4><hr align="left" width="50%" style="background-color:lightpink"></div>
                <div class="Advtxt">
                    ma 12.00 - 17.30<br />di t/m vr 09.30 - 17.30<br />za 09.30 - 17.30<br />zo 11.00 - 17.00<br /><br />
                    Wij werken het liefst op
                </div>
                <a href="#"><img class="Advfoot" src="~/images/afsp.png" /></a>
            </div>

            <div class="col-md-3 Advbox1-1">
                <div class="Advhead"><h4><b>Servicepunten</b></h4><hr align="left" width="50%" style="background-color:lightpink"></div>
                <div class="Advtxt">
                    De honeymoon shop heeft aantal servicepunten in Nederland.
                    Hier kun je je bruidskleding laten afspelden en vermaken.
                </div>
                <a href="#"><img class="Advfoot" src="~/images/leesmeer.png" /></a>
            </div>

            <div class="col-md-3 Advbox1-1">
                <div class="Advhead"><h4><b>Naai atelier</b></h4><hr align="left" width="50%" style="background-color:lightpink"></div>
                <div class="Advtxt">
                    Vakdiploma's -kennis en een grote ervarin staan bij de Honeymoon shop garant voor een foutloos resultaat.
                    Onze coupeuse zijn 'Coup de Paris', of te wel' Het neusje van de zalm'.
                </div>
                <a href="#"><img class="Advfoot" src="~/images/leesmeer.png" /></a>
            </div>

            <div class="col-md-3 Advbox1-1">
                <div class="Advhead"><h4><b>Historie</b></h4><hr align="left" width="50%" style="background-color:lightpink"></div>
                <div class="Advtxt">
                    De Honeymoon shop is al meer dan 45 jaar verantwoordelijk voor de trouwkleding van duizenden bruidsparen
                    in Nederland en ver daarbuiten.
                </div>
                <a href="#"><img class="Advfoot" src="~/images/leesverder.png" /></a>
            </div>
        </div>
    </div>
</div>