@{
    ViewData["Title"] = "Bruidegom Page";
}
<div class="container bodycontainer">
    <div class="row">
        <div class="col-md-12 top">
            <div class="text1">Op zoek naar een perfecte pak</div>
            <div class="text2">van begin tot eind kunnen wij je helpen</div>
        </div>
    </div>
    <!--collectie section-->
    <div class="row">
        <div class="col-md-12 collectie">
            <div class="collectie-text">het pak voor je droombruiloft</div>
        </div>
    </div>
    <!--Suits images section-->
    <div class="container">
        <div class="pic-row">
            <div class="col-md-2">

                <img class="dress-pics" src="http://honeymoonshop.dev.23g.nl/uploads/cache/11757-9.jpg" />
                <img class="dress-pics" src="http://g01.a.alicdn.com/kf/HTB11zS5KFXXXXaRXXXXq6xXFXXXi/Abiti-sposo-grigio-chiaro-per-lo-sposo-matrimonio-smoking-slim-su-misura-da-uomo-vestito-cena.jpg" />
                <img class="dress-pics" src="http://image.dhgate.com/0x0/f2/albu/g1/M00/8D/39/rBVaGVaMsFSAWxVgAAI9Z3RnBnA970.jpg" />
                <img class="dress-pics" src="http://g02.a.alicdn.com/kf/HTB1KgW8KXXXXXXjXpXXq6xXFXXXl/Beach-Wool-Blend-Suits-Trim-Fit-font-b-Navy-b-font-Blue-Men-Wedding-Suit-Groom.jpg" />
                <img class="dress-pics" src="~/images/3.jpg" />
                <img class="dress-pics" src="~/images/1.jpg" />

            </div>
        </div>
    </div>
    <!--dressfinder button section-->
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg DSbtn" href="~/Catalogus/Index">naar de dressFinder</a>
        </div>

    </div>
    <!--scroll button section-->
    <section class="downarrow">

        <a onClick="scroll" class="fa fa-sort-desc downarrow" style="font-size:60px;color:royalblue;" href="#suit">

        </a>
    </section>
    <!--Suits section-->
    <div class="row">
        <div id="suit" class="col-md-12 suits">
            <div class="suits-text">Wat komt erbij kijken?</div>
        </div>
    </div>

    <div class="row row-suits">
        <div class="col-md-8 video2">

            <a class="fancybox-media fa fa-caret-right arrowright" style="font-size:60px;color:royalblue;" href="https://www.youtube.com/watch?v=rCzKyzwyr18" rel="media-gallery"> </a>
            <div class="arrow-right-text">Bekijk Video</div>
            <div class="col-md-3 textnr"><span>1</span></div>
            <div class="col-md-4 textbox">
                hoe vind je de perfecte outfit?
                Onze specialisten nemen echt de  tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen
                ? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
            </div>


        </div>
        <div class="col-md-4 video1">
            <ol>
                <li><a><b style="color:royalblue;">Afspraak maken</b></a></li>
                <li><a>Het perfecte pal vinden</a></li>
                <li><a>Doorpassen en vermaken</a></li>
                <li><a>De bruiloft</a></li>
            </ol>
        </div>
    </div>

    <!--scroll button section-->
    <section class="downarrow2">

        <a onClick="scroll" class="fa fa-sort-desc downarrow2" style="font-size:60px;color:royalblue;" href="#blogs">

        </a>
    </section>

    <!--blog section-->
    <div class="row">
        <div id="blogs" class="col-md-12 blog">
            <h2 class="text-blog">tips & tricks, evenementen <br />en meer inspiratie</h2>
        </div>
    </div>
    <div class="row r-events">
        <div class="col-md-6 evnt">
            <img class="evnt" src="http://3.bp.blogspot.com/-uBEMhB3Ic_I/URD2ZUMw79I/AAAAAAAACgs/75eAWDv33Do/s1600/IMG_6366.JPG" />
            <div class="txtbxhead"><h4><b>evenementen</b></h4><hr align="left" width="50%"></div>
            <div class="txtbx">Op 1 & 2 oktober bij de Love & Marrige beurs in<br /> Ahoy Rotterdam.</div>

        </div>
        <div class="col-md-6 evnt2">
            <img class="evnt2" src="https://scontent.fcur1-1.fna.fbcdn.net/v/t1.0-9/14344722_1102201639816175_8068874324632135041_n.jpg?oh=621c50baa275dff64af17fdfa51f7806&oe=58F433E6" />

        </div>
    </div>
    <!--events sectie-->
    <div class="row row1">
        <div class="col-md-3 textbox1-1">

            <div class="head">
                <h4><b>collectie</b></h4>
                <hr align="left" width="50%" style="background-color:darksalmon">
            </div>
            <div class="txt">De stoere collectie van<br /> immediate is<br /> gearriveerd</div>
            <div class="bgrnd"></div>



        </div>
        <div class="col-md-3 textbox1-2">
            <div class="head"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="txt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="bgrnd1"></div>
        </div>

        <div class="col-md-3 textbox1-3">
            <div class="head"><h4><b>artikel</b></h4><hr align="left" width="50%" style="background-color:#7AFFCC"></div>
            <div class="txt">Het samenstellen van <br />het perfecte pak<br /><br /></div>
            <div class="bgrnd2"></div>
        </div>

    </div>

    <div class="row row2">
        <div class="col-md-3 textbox2-1">
            <div class="head"><h4><b>evenementen</b></h4><hr align="left" width="50%" style="background-color:black"></div>
            <div class="txt">Op 1 & 2 oktober bij de Love & Marrige beurs in<br /> Ahoy Rotterdam.</div>
            <div class="bgrnd"></div>
        </div>

        <div class="col-md-3 textbox2-2">
            <div class="head"><h4><b>artikel</b></h4><hr align="left" width="50%" style="background-color:#7AFFCC"></div>
            <div class="txt">Het samenstellen van <br />het perfecte pak<br /><br /></div>
            <div class="bgrnd2"></div>
        </div>

        <div class="col-md-3 textbox2-3">
            <div class="head"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="txt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="bgrnd1"></div>
        </div>

    </div>

    <div class="row row3">
        <div class="col-md-3 textbox3-1">
            <div class="head"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="txt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="bgrnd1"></div>
        </div>

        <div class="col-md-3 textbox3-2">
            <div class="head"><h4><b>collectie</b></h4><hr align="left" width="50%" style="background-color:darksalmon"></div>
            <div class="txt">De stoere collectie van<br /> immediate is<br /> gearriveerd</div>
            <div class="bgrnd"></div>
        </div>

        <div class="col-md-3 textbox3-3">
            <div class="head"><h4><b>evenementen</b></h4><hr align="left" width="50%" style="background-color:black"></div>
            <div class="txt">Op 1 & 2 oktober bij de Love & Marrige beurs in<br /> Ahoy Rotterdam.</div>
            <div class="bgrnd"></div>
        </div>

    </div>



    <!--buttons-->
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="MBbtn btn-primary btn-lg">meer berichten</button>
        </div>

    </div>
    <section class="downarrow3">

        <a onClick="scroll" class="fa fa-sort-desc downarrow3" style="font-size:60px;color:royalblue;" href="">

        </a>
    </section>

    <div class="row">
        <div class="col-md-12 bottom-pic">

        </div>
    </div>
</div>
