@{
    ViewData["Title"] = "Bruid Page";
}
<div class="container bodycontainerbruid">
    <div class="row">
        <div class="col-md-12 Btop">
            <div class="Btext1">Op zoek naar een perfecte jurk</div>
            <div class="Btext2">van begin tot eind kunnen wij je helpen</div>
        </div>
    </div>
    <!--collectie section-->
    <div class="row">
        <div class="col-md-12 Bcollectie">
            <div class="Bcollectie-text">de trouwjurk voor je droombruiloft</div>
        </div>
    </div>
    <!--Suits images section-->
    <div class="container">
        <div class="Bpic-row">
            <div class="col-md-2 ">
                <img class="Bdress-pics" src="~/images/jurk1.jpg" alt="jurk1" href="/Catalogus/Details/1207" />
                <img class="Bdress-pics" src="~/images/jurk2.jpg" alt="jurk2" href="/Catalogus/Details/1205" />
                <img class="Bdress-pics" src="~/images/jurk3.jpg" alt="jurk3" href="/Catalogus/Details/1206" />
                <img class="Bdress-pics" src="~/images/jurk4.jpg" alt="jurk4" href="/Catalogus/Details/1201" />
                <img class="Bdress-pics" src="~/images/jurk5.jpg" alt="jurk5" href="/Catalogus/Details/1204" />
                <img class="Bdress-pics" src="~/images/jurk6.jpg" alt="jurk6" href="/Catalogus/Details/1202" />

            </div>
        </div>
    </div>
    <!--dressfinder button section-->
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg BDSbtn" href="~/Catalogus/Index">naar de dressFinder</a>
        </div>

    </div>
    <!--scroll button section-->
    <section class="Bdownarrow">

        <a onClick="scroll" class="fa fa-sort-desc Bdownarrow" style="font-size:60px;color:#f730ff;" href="#suit">

        </a>
    </section>
    <!--Suits section-->
    <div class="row">
        <div id="suit" class="col-md-12 Bsuits">
            <div class="Bsuits-text">Wat komt erbij kijken?</div>
        </div>
    </div>

    <div class="row Brow-suits">
        <div class="col-md-8 Bvideo2">

            <a class="fancybox-media fa fa-caret-right Barrowright" style="font-size:60px;color:#f730ff;" href="https://www.youtube.com/watch?v=rCzKyzwyr18" rel="media-gallery"> </a>
            <a class="fancybox-media Barrow-right-text" href="https://www.youtube.com/watch?v=rCzKyzwyr18" rel="media-gallery">Bekijk Video</a>
            <div class="col-md-3 Btextnr"><span>1</span></div>
            <div class="col-md-4 Btextbox">
                hoe vind je de perfecte outfit?
                Onze specialisten nemen echt de  tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen
                ? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
            </div>


        </div>
        <div class="col-md-4 Bvideo1">
            <ol class="Bol">
                <li><a><b style="color:#f730ff;">Afspraak maken</b></a></li>
                <li><a>Het perfecte pal vinden</a></li>
                <li><a>Doorpassen en vermaken</a></li>
                <li><a>De bruiloft</a></li>
            </ol>
        </div>
    </div>

    <!--scroll button section-->
    <section class="Bdownarrow2">

        <a onClick="scroll" class="fa fa-sort-desc Bdownarrow2" style="font-size:60px;color:#f730ff;" href="#blogs">

        </a>
    </section>

    <!--blog section-->
    <div class="row">
        <div id="blogs" class="col-md-12 Bblog">
            <h2 class="Btext-blog">tips & tricks, evenementen <br />en meer inspiratie</h2>
        </div>
    </div>
    <div class="row Br-events">
        <div class="col-md-6 Bevnt">
            <img class="Bevnt" src="http://3.bp.blogspot.com/-uBEMhB3Ic_I/URD2ZUMw79I/AAAAAAAACgs/75eAWDv33Do/s1600/IMG_6366.JPG" />

            <div class="Btxtbx">
                <div class="Bdatebox"><big>30</big><br />NOV</div>
                <div class="Btxtbxhead"><h4><b>evenement</b></h4><hr align="left" width="50%" style="background-color:#f730ff"></div>
                <div class="Btxtbxbody">Afgelopen weekend waren wij op de Love &Aacute; Marriage beurs in Ahoy te Rotterdam.Hier hebben wij de mooiste jurken uit de 2017 collectie geshowd.</div>
                <a href="#"><img class="Btxtbxfoot" src="~/images/leesmeer.png" /></a>
            </div>

        </div>
        <div class="col-md-6 Bevnt2">
            <img class="Bevnt2" src="https://scontent.fcur1-1.fna.fbcdn.net/v/t1.0-9/14344722_1102201639816175_8068874324632135041_n.jpg?oh=621c50baa275dff64af17fdfa51f7806&oe=58F433E6" />
            <div class="Btxtbx">
                <div class="Bdatebox"><big>30</big><br />NOV</div>
                <div class="Btxtbxhead"><h4><b>evenement</b></h4><hr align="left" width="50%" style="background-color:#f730ff"></div>
                <div class="Btxtbxbody">Afgelopen weekend waren wij op de Love &Aacute; Marriage beurs in Ahoy te Rotterdam.Hier hebben wij de mooiste jurken uit de 2017 collectie geshowd.</div>
                <a href="#"><img class="Btxtbxfoot" src="~/images/leesmeer.png" /></a>
            </div>
        </div>
    </div>
    <!--events sectie-->
    <div class="row row1">
        <div class="col-md-3 Btextbox1-1">

            <div class="Bhead">
                <h4><b>collectie</b></h4>
                <hr align="left" width="50%" style="background-color:darksalmon">
            </div>
            <div class="Btxt">De stoere collectie van<br /> immediate is<br /> gearriveerd</div>
            <div class="Bbgrnd"></div>



        </div>
        <div class="col-md-3 Btextbox1-2">
            <div class="Bhead"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="Btxt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="Bbgrnd1"></div>
        </div>

        <div class="col-md-3 Btextbox1-3">
            <div class="Bhead"><h4><b>artikel</b></h4><hr align="left" width="50%" style="background-color:#7AFFCC"></div>
            <div class="Btxt">Het samenstellen van <br />het perfecte pak<br /><br /></div>
            <div class="Bbgrnd2"></div>
        </div>

    </div>

    <div class="row row2">
        <div class="col-md-3 Btextbox2-1">
            <div class="Bhead"><h4><b>evenementen</b></h4><hr align="left" width="50%" style="background-color:black"></div>
            <div class="Btxt">Op 1 & 2 oktober bij de Love & Marrige beurs in<br /> Ahoy Rotterdam.</div>
            <div class="Bbgrnd"></div>
        </div>

        <div class="col-md-3 Btextbox2-vac">
            @*<div class="Bhead"><h4><b>artikel</b></h4><hr align="left" width="50%" style="background-color:#7AFFCC"></div>
            <div class="Btxt">Het samenstellen van <br />het perfecte pak<br /><br /></div>
            <div class="Bbgrnd2"></div>*@
        </div>

        <div class="col-md-3 Btextbox2-3">
            <div class="Bhead"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="Btxt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="Bbgrnd1"></div>
        </div>

    </div>

    <div class="row row3">
        <div class="col-md-3 Btextbox3-1">
            <div class="Bhead"><h4><b>lovely real brides</b></h4><hr align="left" width="50%" style="background-color:cornflowerblue"></div>
            <div class="Btxt">Rachelle & Matthew<br /><br /><br /></div>
            <div class="Bbgrnd1"></div>
        </div>

        <div class="col-md-3 Btextbox3-2">
            <div class="Bhead"><h4><b>collectie</b></h4><hr align="left" width="50%" style="background-color:darksalmon"></div>
            <div class="Btxt">De stoere collectie van<br /> immediate is<br /> gearriveerd</div>
            <div class="Bbgrnd"></div>
        </div>

        <div class="col-md-3 Btextbox3-3">
            <div class="Bhead"><h4><b>evenementen</b></h4><hr align="left" width="50%" style="background-color:black"></div>
            <div class="Btxt">Op 1 & 2 oktober bij de Love & Marrige beurs in<br /> Ahoy Rotterdam.</div>
            <div class="Bbgrnd"></div>
        </div>

    </div>



    <!--buttons-->
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="BMBbtn btn-primary btn-lg">meer berichten</button>
        </div>

    </div>
    <section class="Bdownarrow3">

        <a onClick="scroll" class="fa fa-sort-desc Bdownarrow3" style="font-size:60px;color:#f730ff;" href="">

        </a>
    </section>

    <div class="row">
        <div class="col-md-12 Bbottom-pic">

        </div>
    </div>
</div>