@{
    ViewData["Title"] = "Home Page";
}
<div class="container bodycontainer">
    <div class="row">
        <div class="col-md-12-1">
            <div class="text1">Op zoek naar een perffecte pak</div>
            <div class="text2">Begin tot eind kunnen wij je helpen</div>
        </div>
    </div>
    <!--collectie section-->
    <div class="row">
        <div class="col-md-12-2">
            <div class="text3">het pak voor je droombruiloft</div>
        </div>
    </div>
    <!--Suits images section-->
    <div class="container">
        <div class="pic-row">
            <div class="col-md-2">
                <img class="dress-pics" src="~/images/aftersix-fs2017-look12-s14-s15-art461201-1-7.jpg" />
                <img class="dress-pics" src="~/images/1.jpg" />
                <img class="dress-pics" src="~/images/2.jpg" />
                <img class="dress-pics" src="~/images/3.jpg" />
                <img class="dress-pics" src="~/images/aftersix-fs2017-look12-s14-s15-art461201-1-7.jpg" />
                <img class="dress-pics" src="~/images/1.jpg" />

            </div>
        </div>
    </div>
    <!--dressfinder button section-->
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="DSbtn btn-primary btn-lg">naar de dressFinder</button>

        </div>

    </div>
    <!--scroll button section-->
    <section class="downarrow">

        <a onClick="scroll" class="fa fa-sort-desc downarrow" style="font-size:60px;color:royalblue;" href="#suit">

        </a>
    </section>
    <!--Suits section-->
    <div class="row">
        <div id="suit" class="col-md-12-3">
            <div class="text3">Wat komt erbij kijken?</div>
        </div>
    </div>

    <div class="row-suit">
        <div class="col-md-8 video2">
            @*<img class="img-responsive" src="~/images/34ff6a788ac762f5ed74127b8c73de08.jpg" alt="this is a video"/>*@
            <a class="fancybox-media fa fa-caret-right arrowright" style="font-size:60px;color:royalblue;" href="http://www.youtube.com/watch?v=opj24KnzrWo" rel="media-gallery"> </a>
            <div class="arrow-right-text">Bekijk Video</div>


        </div>
        <div class="col-md-4 video1">
            <ol>
                <li><a>Afspraak maken</a></li>
                <li><a>Het perfecte pal vinden</a></li>
                <li><a>Doorpassen en vermaken</a></li>
                <li><a>De bruiloft</a></li>
            </ol>
        </div>
    </div>
</div>