@model Models.Jurk

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h2>Edit</h2>

    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="form-horizontal">
            <h4>Jurk</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JurkID" />
            <div class="form-group">
                <label asp-for="ArtikelNr" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ArtikelNr" class="form-control" />
                    <span asp-validation-for="ArtikelNr" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategorieID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CategorieID" class="form-control" asp-items="ViewBag.CategorieID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MerkID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="MerkID" class="form-control" asp-items="ViewBag.MerkID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StijlID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="StijlID" class="form-control" asp-items="ViewBag.StijlID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Prijs" class="form-control" />
                    <span asp-validation-for="Prijs" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NeklijnID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="NeklijnID" class="form-control" asp-items="ViewBag.NeklijnID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SilhouetteID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SilhouetteID" class="form-control" asp-items="ViewBag.SilhouetteID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JurkKleuren" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @{int i = 0; }
                    @foreach (var kleur in ViewBag.KleurID)
                    {

                        <input type="hidden" name="JurkKleuren[@i].KleurID" value="@kleur.Value" />
                        @Html.CheckBoxFor(m => m.JurkKleuren[@i].selected, false)

                        <a>@kleur.Text</a>
                        { i++; }

                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Omschrijving" class="form-control"/>
                    <span asp-validation-for="Omschrijving" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AfbeeldingNaam1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="afbeelding1"/>
                    <span asp-validation-for="AfbeeldingNaam1" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AfbeeldingNaam2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="afbeelding2" />
                    <span asp-validation-for="AfbeeldingNaam2" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AfbeeldingNaam3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="afbeelding3" />
                    <span asp-validation-for="AfbeeldingNaam3" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AfbeeldingNaam4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="afbeelding4" />
                    <span asp-validation-for="AfbeeldingNaam4" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

