<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoneymoonShopProject</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Style.css" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link rel="stylesheet" href="~/css/style.css" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/css/jPages.css" media="screen" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="backgroundcolor">
    <div class="container">
        <nav class="navbar navbar-default navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Website</a>
                    <a class="navbar-brand" href="#">Webshop</a>
                </div>
                <div class="navbar-header navbar-right">
                    <p class="navbar-text">T (010) 4126143</p>
                    <p class="navbar-text"><span class="glyphicon glyphicon-search"></span></p>
                </div>
            </div>
        </nav>
    </div>
    <!--
    <div class="container">
        <div class="navbar navbar-custom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>s
    -->
    <div class="container">
        <header>
            <div class="navbar-collapse collapse navbarbackground">
                <ul class="nav navbar-nav navbar-left">
                    <li><h1>Honeymoon shop</h1></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-pink">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Bruid</a></li>
                    <li><a href="#">De winkel</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><button type="button" class="btn btn-default">De winkel</button></li>
                </ul>
            </div>
            <!--
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
            -->

        </header>
    </div>
    @RenderBody()

    <footer>
        <div class="container footer">
            <!--Top row-->
            <div class="row">

                <div class="col-md-4 footerimages footerleft">
                    <center>
                        <img class="img-responsive" src="http://placehold.it/300x160" />
                    </center>
                </div>
                <div class="col-md-4 footerimages">
                    <center>
                        <img class="img-responsive" src="http://placehold.it/300x160" />
                    </center>
                </div>
                <div class="col-md-4 footerimages footerright">
                    <center>
                        <img class="img-responsive" src="http://placehold.it/300x160" />
                    </center>
                </div>


            </div>
            <!--Midden row-->
            <div class="row">

                <div class="col-md-12 midrow">
                    <div class="sans-serif-thin">Korte Hoogstraat 4, 3011GL Rotterdam  <b>email</b> info@honeymoonshop.nl <b>tel</b>(010) 412 61 43 <b>whatsapp</b>(06) 25 19 99 27</div>
                    <div class="sans-serif-thin"><strong>Openingstijden MA</strong> 12.00 - 17.30 <b>DI t/m VR</b> 09.30 - 17.30 <b>ZA</b> 09.30 - 17.30 <b>ZO</b> 11.00 - 17.00</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 midcol">
                    <img class="img-responsive" src="~/images/indexa.png" alt="logo grand wedding show" />
                    <img class="img-responsive" src="~/images/brand.gif" alt="logo cbw" />
                </div>
                <div class="col-md-4"></div>
            </div>



            <!--Bottom row-->
            <div class="row foot">
                <div class="col-md-4">
                    <div class="footerlefttext">
                        <p class="style_p_h3">Winkel</p>
                        <ul class="sans-serif-thin">
                            <li><a>Over de Honeymoon shop</a></li>
                            <li><a>Servicepunten</a></li>
                            <li><a>Routebeschrijving</a></li>
                            <li><a>Beurzen en evenementen</a></li>
                            <li><a>Vacatures</a></li>
                            <li><a>Verkoopvoorwaarden</a></li>
                            <li><a>CBW erkend</a></li>
                            <li><a>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="style_p_h3">Service</p>
                    <ul class="sans-serif-thin">
                        <li><a>Beoordeling</a></li>
                        <li><a>Dressfinder</a></li>
                        <li><a>Gratis trouwmagazine</a></li>
                        <li><a>Nieuwsbrief</a></li>
                        <li><a>Vell gestelde vragen</a></li>
                        <li><a>CWB erkend</a></li>
                        <li><a>Reinigen van je trouwjurk</a></li>
                        <li><a>10 reden om je afspraak te maken</a></li>
                        <li><a>The Perfect Match</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footerrighttext">
                        <p class="style_p_h3">Acties</p>
                        <ul class="sans-serif-thin">
                            <li><a>The Grand Wedding Show</a></li>
                            <li><a>Summer Sale</a></li>
                            <li><a>Trouwjurken onder de 1000 euro</a></li>
                            <li><a>Trouwjurken voor de volslanke bruid</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/jPages.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $(".holder").jPages({
                    containerID: "itemContainer",
                    perPage: 6,
                });
            });
        });
    </script>
</body>
</html>
