@model IEnumerable<Models.Jurk>
@{
    ///List < BruidsJurk > list = (List<BruidsJurk>) Model;
    ViewData["Title"] = "Catalogus Page";
}
<style>
    .backgroundcolor{
        background-color: #fce8e7;
    }
 </style> 
<div class="container cat-background">
    <!--Back row-->
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <a asp-action="Newcollection"><img src="https://i.gyazo.com/50a581702729e91c6e44ed09627de3d1.png" /></a>
</div>
        <div class="col-md-9">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            </div>
        <div class="col-md-2">
            <div class="cat-textdescimage" style="margin-top: 20px;"><img src="http://placehold.it/240x240"></div>
            <div class="cat-textdescimage"><img src="http://placehold.it/240x240"></div>
            <div class="cat-textdescimage"><img src="http://placehold.it/240x240"></div>
        </div>
        <div class="col-md-4">
            <div class="dressfinder-pics"><img src="http://placehold.it/575x750"></div>

        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
         </div>
</div>