@model IEnumerable<HoneymoonShop.Models.BruidsJurk>
@{
    ///List < BruidsJurk > list = (List<BruidsJurk>) Model;
    ViewData["Title"] = "Catalogus Page";
}
<div class="container">
    <!--Back row-->
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            BACK TO CAT
        </div>
        <div class="col-md-9">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            </div>
        <div class="col-md-2">
            <img src="http://placehold.it/240x240">
            <img src="http://placehold.it/240x240">
            <img src="http://placehold.it/240x240">
        </div>
        <div class="col-md-4">
            <img src="http://placehold.it/575x750">

        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
         </div>

</div>