@{
    ViewData["Title"] = "Catalogus Page";
}
<div class="container">
    <div class="row">
        <div class="row">
            <!--sorteer functionaliteit-->
            <div class="col-md-3">
                <img src="https://i.gyazo.com/e44b4266483fe2766241ff98617e1ce9.png" />
            </div>
            <div class="col-md-9">
                <div class="row dressfinder-pics">
                    <img src="https://i.gyazo.com/a2d1a77ecd5e85569b9b0a0d43e1886f.png" />
                </div>
                <!--quicklinks-->
                <div class="row nexa_bold">
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/0a2a7a5a10d3d09aab12b6178ee6b967.png" /></div>
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/0a2a7a5a10d3d09aab12b6178ee6b967.png" /></div>
                    <div class="col-md-3 dressfinder-pics"> <img src="https://i.gyazo.com/0a2a7a5a10d3d09aab12b6178ee6b967.png" /></div>
                </div>

                <!--Nieuwste collectie title-->
                <div class="row">
                    <div class="cat-line">

                    </div>
                    <div style="font-size: 15px; text-align: center;">
                        <span style="font-size: 10px; text-align: center;
                        margin-right: 100px;
                        font-family: sans-serif;
                        text-transform:uppercase;
                        font-weight: bolder;
                        letter-spacing:0px;
                        background-color: azure;">  
                            NIEUWE COLLECTIE
                        </span>
                    </div>
                </div>
                <!--nieuwe collectie-->
                <div class="row nexa_bold">
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>

                </div>
                <!--nieuwe collectie2-->
                <div class="row nexa_bold">
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                    <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /><div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg" alt="Foto van vrouw met bruidsjurk" />
            </div>
        </div>
    </div>
</div>

