@model IEnumerable<HoneymoonShop.Models.BruidsJurk>
    @{
        ViewData["Title"] = "Catalogus Page";
    }
    <div class="container">
        <div class="row">
            <div class="row">
                <!--sorteer functionaliteit-->
                <div class="col-md-3">
                    <img src="https://i.gyazo.com/e44b4266483fe2766241ff98617e1ce9.png" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <form class="form-inline">
                                <div class="form-group cat-searchbarright">
                                    <label class="">Sorteer op: </label>
                                    <select class="form-control">
                                        <option>Prijs Hoog/Laag</option>
                                        <option>Prijs Laag/Hoog</option>
                                        <option>Populariteit</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="nexa_bold cat">
                        @for (int i = 0; i < 24; i++)
                        {
                              <div class="dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /> <div class="cat-textdescimage"> Beautiful by Enzoani</div></div>
                            if (i == 8)
                            {
                                <div class="dressfinder-pics dressfinderdouble-pic"> <img src="https://i.gyazo.com/fb6c1eb95de82a821e2db9ec11309447.png" /></div>
                            }

                            if (i == 16)
                            {
                                <div class="dressfinder-pics"><img src="https://i.gyazo.com/591a6599b50c11222d52d7c5b60170ea.png" /></div>


                            }
                        }

                        <div id="itemContainer" class="row">
                            <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /> Beautiful by Enzoani</div>
                            <div class="col-md-3 dressfinder-pics"><img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /> Beautiful by Enzoani</div>
                            <div class="col-md-3 dressfinder-pics"> <img src="https://i.gyazo.com/a76f807bfbce2180360834f48dd8ca39.png" /> Beautiful by Enzoani</div>
                        </div>
                    </div>
                    <!--Page selection-->
                    <div class="row">
                        <div class="col-mod-9">
                            <div class="holder">
                                hello
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <img src="https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg" alt="Foto van vrouw met bruidsjurk" />
                </div>
            </div>
        </div>
    </div>
