@model Models.Jurk
@{
    ViewData["Title"] = "Review Page";
}
<style type="text/css">
    .navbarbackground {
        background-color: transparent;
    }

    header {
        background-image: url(https://www.preownedweddingdresses.com/img/content/header-bg-dress-cleaning.jpg?1442840981);
        height: 400px;
        background-position: center;
        text-align: center;
        background-size: 100% 100%;
    }

    .navbar-pink > li > a {
        color: white;
    }
</style>
<div class="container review-background">
   
     <div class="row">
        <div class="col-md-12">
            <h1>Reviews</h1>
            <h3>Schrijf een review voor @Model.Merk.MerkNaam</h3>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-6">
            <h5>Jouw gegevens</h5>
            <hr style="background-color:#f0597c"/>
            <form action="/Catalogus/Details/@Model.Jurk.JurkID" method="get"> @*!<--moet terug naar met code*@
                <p>Uw Naam</p>
                <input name="Naam" type="text" style="width : 450px;" />
                <br /><br />
                <p>Uw Beoordeling</p>
                <span>
                    <select name="Beoordeling"style="width : 450px;">
                        <option>selecteer</option>
                        <option>Zeer mooi</option>
                        <option>Mooi</option>
                        <option>Niet mooi & Niet Lelijk</option>
                        <option>lelijk</option>
                        <option>Zeer lelijk</option>
                    </select>
                    
                </span>
                <br /><br />
                <p>Uw Review</p>
                <textarea ${readonly} name="klantReview" style="width : 450px;" rows="10"></textarea>
               <br /><br />
                <input type="submit" value="Versturen" />
            </form>
        </div>
        <div class="col-md-6">
            @*<h5>Laatste Reviews</h5>
            <hr style="background-color:#f0597c" />*@
            
        </div>
    </div>
</div>